@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}

.header {
  background-color: #e03e00;
  opacity: 90%;
  color: #ffffff;
  padding: 12px;
  height: 32px;
}
