.iconButton {
  background: none;
  border: none;
  color: inherit;

  font-size: 1.25rem;
}

/* Desktop responsivity */
@media screen and (min-width: 769px) {
  .iconButton {
    cursor: pointer;
  }
}
